

.fecha{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-size: 3em;
    color: whitesmoke;    
}

.hora{
    font-family: 'Londrina Sketch', cursive;
    font-size: 4em;
    color: whitesmoke;
    letter-spacing: 0.15em;
}

body{
    background: black;
}

.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 30px #7BACFF,
        0 0 50px #7BACFF,
        0 0 60px #7BACFF,
        0 0 70px #7BACFF;
}